*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    width: 100%;
    max-width: 1320px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}
.headertop{
    background-color: rgb(201, 201, 201);
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}
.headersecond{
    padding-bottom: 1rem;
    padding-top: 1rem;
}
.headertop .container{
    display : flex;
    flex-direction : row;
    justify-content : center;
    align-items : center;
}
.headersecond .container{
    display : flex;
    flex-direction : row;
    justify-content : space-between;
    align-items : center;
}
.logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1.5rem;
}
.logo img{
    width: 2rem;
}